<nav class="navbar">
  <div class="logo">
    <a href="/home"><img src="/images/Plantopic.png" alt="Logo" class="logo-img"> </a>
  </div >
  <ul class="nav-links">
    <li><a href="/home">Home</a></li>
    <li><a href="/listings">Shop</a></li>
    <li><a href="/listings/new">Add Plant</a></li>
    <li><a href="/caretips">Care Tips</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  
  <!-- Dropdown Menu -->
  
  
  <div class="menu-cart-container">
    <div class="dropdown-menu">
      <button class="dropdown-btn">Account</button>
      <div class="dropdown-content">
        <% if(!currUser){ %>
          <a href="/signup">Sign Up</a>
          <a href="/login">Sign In</a>
        <% } %>
        <% if(currUser){ %>
          <a href="/logout">Logout</a>
        <% } %>
        
        
      </div>
    </div>
    <!-- Toggle Button -->
    <a href="/cart" class="cart-icon">🛒</a> 
    <button class="toggle-btn" onclick="toggleMenu()">☰</button> <!-- Cart Icon -->
  </div>
  
</nav>

<script>
  function toggleMenu() {
      const navLinks = document.querySelector('.nav-links');
      navLinks.classList.toggle('show'); /* Toggle the visibility of the nav links */
  }
</script>

