<% layout('/layouts/boilerplate') -%>
<section class="hero">
    <!-- Video Background -->
    <video autoplay muted loop playsinline class="hero-video">
        <source src="/video/back.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="hero-content">
        <h1>Welcome to Plantopic</h1>
        <p>Discover the beauty and benefits of plants in your life.</p>
        <a href="/listings" class="btn-primary">Explore Our Plants</a>
    </div>

    <!-- Hero Content Overlay -->
    
</section>
<br>

<!-- Importance of Plants Section -->
<section class="importance-of-plants">
    <h2>---- Importance of Plants ----</h2>
    <br><br>
    <div class="importance-section">
        <div class="importance-item">
            <p>
                Plants play a crucial role in air purification
            </p>
            <img src="<%= '/images/air.jpg' %>" alt="Air Purification" class="importance-img">
        </div>
    
        <div class="importance-item  imp-item-2">
            <img src="<%= '/images/mental.jpg' %>" alt="Mental Health" class="importance-img">
            <p style="text-align:left">
                Known to greatly benefit mental Health
            </p>    
        </div>
    
        <div class="importance-item">
            <p>
                Contribute significantly to the aesthetic value of spaces
            </p>
            <img src="<%= '/images/aesthetic.jpg' %>" alt="Aesthetic Value" class="importance-img">
        </div>
    </div>
</section>
<br>

<!-- How Plant Topic Helps Section -->
<section class="how-plant-topic-helps">
    <h2>---- How Plantopic Helps ----</h2>
    <br>
    <p>Plantopic makes plant care easy and fun for everyone. Whether you're a beginner or an expert, we offer tips, personalized recommendations, and a supportive community to help you succeed in your plant journey. Discover the best plants for your space and connect with fellow plant lovers.</p>

    <br>
    <div class="how-plant-topic-helps-images">
        <img src="/images/expert.jpg" alt="Air Purification" class="how-plant-topic-helps-img">
        <img src="/images/plantsection.jpg" alt="Mental Health" class="how-plant-topic-helps-img">
        <img src="/images/community.jpg" alt="Aesthetic Value" class="how-plant-topic-helps-img">
    </div>
    <br><br>
</section>
<br><br>
